* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
:root {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

.auth-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .auth-layout {
    justify-content: flex-start;
  }
}

/* Loading component */
.loader {
  position: relative;
  width: 125px;
  height: 125px;
  animation: rotate 4s ease-out infinite;
  filter: url("#gooey");
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.loader .liquid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #c7eeff, #03a9f4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  --ani_dur: 4s;
}

.loader .liquid:nth-child(1) {
  top: 0;
  animation: animate1 var(--ani_dur) linear infinite;
}

.loader .liquid:nth-child(2) {
  left: 0;
  animation: animate2 var(--ani_dur) linear infinite;
}

.loader .liquid:nth-child(3) {
  left: 100%;
  animation: animate3 var(--ani_dur) linear infinite;
}

.loader .liquid:nth-child(4) {
  top: 100%;
  animation: animate4 var(--ani_dur) linear infinite;
}

@keyframes animate1 {
  0% {
    top: 0;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes animate3 {
  0% {
    left: 100%;
  }

  50% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes animate4 {
  0% {
    top: 100%;
  }

  50% {
    top: 0;
  }

  100% {
    top: 0;
  }
}

svg {
  width: 0;
  height: 0;
}

/* Two Factor Fields */


.twofa-container input::-webkit-outer-spin-button,
.twofa-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.twofa-container input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.twofa-container {
  display: flex;
  justify-content: space-between;
}

.twofa-container input[type=number] {
  width: 15%;
  max-width: 40px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}